.below-site-header-outlet.status {
  max-width: calc(100vw - 20px);
  margin: auto;
  display: flex;
  justify-content: center;
}

.discourse-status-alert {
  padding: 0.25em 1em;
  border-radius: 0 0 8px 8px;
  &.indicator-minor {
    background-color: #f1c40f;
  }
  &.indicator-major {
    background-color: #e67e22;
  }
  &.indicator-critical {
    background-color: #c63c1b;
  }
  a {
    display: flex;
    align-items: center;
    color: var(--secondary);
    font-size: var(--font-down-1);
    font-weight: 600;
    svg {
      width: 1.3em;
      height: 1.3em;
      margin-right: 0.5em;
    }
  }
}
