.discourse-status-alert {
  max-width: 1110px;
  &.indicator-minor {
    background-color: orange;
  }
  &.indicator-major {
    background-color: #e45735;
  }
  &.indicator-critical {
    background-color: #c63c1b;
  }
  margin: 2em auto 0 auto;
  padding: 1em 0;
  border-radius: 8px;
  a {
    color: var(--secondary);
    font-weight: 600;
    display: block;
    text-align: center;
  }
}
