{{#if showStatus}}
  <div class="discourse-status-alert indicator-{{indicator}}">
    <a href="https://{{statusHref}}" target="_blank">{{d-icon 'exclamation-circle'}} {{statusMessage}}</a>
  </div>
{{/if}}
